<div class="container">
	<br>
	<div class="row">
		<div class="col-sm-4">
			<h4> Tweet's Page</h4>
		</div>
		<div class="col-sm-4 offset-sm-1">
			<button type="button" class="btn btn-info" (click)="openModal('layoutModal')"> Layout Settings </button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4" *ngFor="let user of arrUser">
			<h2>{{user.id}}</h2>
			<ng-container *ngFor="let tweet of user.tweets">
				<div class="card card-tweet">
					<div class="card-header">{{tweet.user.name}} <i class="">{{tweet.created_at | date:'MMM dd yyyy h:mm a'}}</i></div>
					<div class="card-body">
						<p class="card-text">{{tweet.text}}</p>
						<a href="" class="btn btn-primary">Go</a>
					</div>					
				</div>
			</ng-container>
		</div>
	</div>
</div>
